fchild send
  exec sendfile

match
  filename *.html
  xset content-type text/html
  handler send
match
  filename *.css
  xset content-type text/css
  handler send
match
  filename *.txt
  xset content-type text/plain
  handler send
match
  filename *.js
  xset content-type text/javascript
  handler send

# Image types
match
  filename *.gif
  xset content-type image/gif
  handler send
match
  filename *.png
  xset content-type image/png
  handler send
match
  filename *.jpg *.jpeg
  xset content-type image/jpeg
  handler send
